
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=VT323&display=swap');


body * {
    font-family: "Jersey 15", sans-serif !important; 
    font-weight: 300;                          
    font-style: normal;                        
}
